/* NotFoundPage.module.css */
.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 16px;
}

.text {
  margin-bottom: 16px;
  text-align: center;
}

.link {
  color: #61dafb;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

